html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

* {
  scroll-behavior: smooth;
}

a {
  color: #8d8d8d;
  cursor: default;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 4px 0 16px 0;
  border: 0;
  border-bottom: 1px solid #303030;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  width: 100px;
  height: 30px;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #fff;
  border-radius: 32px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  opacity: 0.8;
  outline: none;
  text-transform: uppercase;
}
button:hover {
  opacity: 1;
  transform: scale(1.1);
}
button:active {
  opacity: 0.7;
  transform: scale(1);
}

.sidebar {
  position: fixed;
  padding: 0 25px;
  width: 180px;
  height: 100vh;
  background: #121212;
  color: #B3B3B3;
}
.sidebar .sidebar__items {
  padding: 0;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  margin: 14px 0;
  font-size: 0.9rem;
  font-weight: 600;
}
.sidebar ul li:hover {
  color: #fff;
  cursor: default;
}
.sidebar ul li:active {
  opacity: 0.7;
}
.sidebar ul li i {
  margin: 0 5px;
  font-size: 1.5rem;
}
.sidebar ul li span {
  margin: 5px 10px;
  font-weight: 600;
  font-size: 0.85rem;
}
.sidebar h5 {
  margin: 40px 0 -6px 0;
  color: #B3B3B3;
  font-weight: 400;
  font-size: 0.85rem;
}

.selectedItem {
  position: absolute;
  left: 0;
  width: 4px;
  height: 20px;
  background: #13eb5f;
}

.home {
  margin: 0 0 80px 220px;
  background: #181818;
}
.home .wrapperTracks {
  padding: 20px 7% 5px;
}
.home .wrapperTracks .wrapperTracks__header {
  display: flex;
  justify-content: space-between;
}
.home .wrapperTracks .wrapperTracks__header .dirBtn .dirBtn__right, .home .wrapperTracks .wrapperTracks__header .dirBtn .dirBtn__left {
  padding: 0 10px;
  width: 10px;
  border: 0;
  background-color: transparent;
  color: #B3B3B3;
  font-family: Courier New, Courier, monospace;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  font-weight: lighter;
}
.home .wrapperTracks .wrapperTracks__header .dirBtn .dirBtn__right:hover, .home .wrapperTracks .wrapperTracks__header .dirBtn .dirBtn__left:hover {
  color: #fff;
}
.home .wrapperTracks .wrapperTracks__header h2 {
  width: 80%;
}
.home .wrapperTracks .wrapperList {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.home .wrapperTracks .wrapperList .wrapperList__card {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 0;
  scroll-snap-align: start;
}
.home .wrapperTracks .wrapperList .wrapperList__card img {
  width: 180px;
}
.home .wrapperTracks .wrapperList .wrapperList__card strong {
  padding: 10px 0 0 0;
  font-weight: 600;
}
.home .wrapperTracks .wrapperList .wrapperList__card p {
  padding: 5px 0 0 0;
  color: #B3B3B3;
  font-size: 0.9rem;
}

.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6%;
  min-height: 50px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #303030;
  color: #B3B3B3;
}
.taskbar .taskbar__track {
  display: flex;
}
.taskbar .taskbar__track img {
  height: 55px;
}
.taskbar .taskbar__track strong {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}
.taskbar .taskbar__track p {
  margin-top: 10px;
  font-size: 0.8rem;
}
.taskbar .taskbar__track .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}
.taskbar .taskbar__trackStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskbar .taskbar__trackStatus > * {
  margin: 0 5px;
}
.taskbar .taskbar__trackStatus i {
  font-size: 0.9rem;
  margin: 0 10px;
}
.taskbar .taskbar__trackStatus i:hover {
  color: #fff;
}
.taskbar .taskbar__trackStatus i:active {
  opacity: 0.7;
}
.taskbar .taskbar__trackStatus .fa-play {
  padding: 11px;
  font-size: 0.9rem;
  border: 1px solid #8d8d8d;
  border-radius: 100%;
}
.taskbar .taskbar__trackStatus .fa-play:hover {
  border: 1px solid #fff;
}
.taskbar .taskbar__trackStatus .fa-play:active {
  border: 1px solid #8d8d8d;
  opacity: 0.7;
}
.taskbar .taskbar__trackStatus .audioProgress input {
  width: 170px;
  height: 4px;
  border-radius: 100%;
  filter: invert(10%) sepia(15%) saturate(11368%) hue-rotate(670deg) brightness(95%) contrast(94%);
}
.taskbar .taskbar__trackAudio {
  padding: 25px;
  display: flex;
  align-items: center;
}
.taskbar .taskbar__trackAudio > * {
  margin: 0 5px;
}
.taskbar .taskbar__trackAudio i:hover {
  color: #fff;
}
.taskbar .taskbar__trackAudio i:active {
  opacity: 0.7;
}
.taskbar .taskbar__trackAudio input {
  width: 100px;
  height: 4px;
  border-radius: 100%;
}

.artistSection {
  position: relative;
  margin: 0;
  background: #181818;
}
.artistSection .artistSection--overlay {
  position: absolute;
  width: 100%;
  height: 400px;
  background: linear-gradient(to top, #181818 10%, rgba(0, 0, 0, 0.5) 70%);
}
.artistSection img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.artistSection .artistSection__header {
  position: relative;
  margin-top: -200px;
  padding: 0 5%;
}
.artistSection .artistSection__header h1 {
  font-size: 6rem;
}
.artistSection .artistSection__header .btn button:nth-child(1) {
  background: #13eb5f;
  border: 0;
}
.artistSection .artistSection__header .btn button:nth-child(2) {
  width: 140px;
}
.artistSection .artistSection__header .selectSubPage {
  display: flex;
  font-weight: 600;
  text-transform: uppercase;
}
.artistSection .artistSection__header .selectSubPage li {
  margin: 0 20px;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
}
.artistSection .artistSection__header .selectSubPage .overview {
  position: relative;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 2px;
  background: #13eb5f;
}
.artistSection .topNtop {
  display: flex;
  padding: 0 4%;
}
.artistSection .topNtop > * {
  margin: 0 20px;
}
.artistSection .topNtop .mostPopular {
  margin-top: 40px;
  width: 50%;
}
.artistSection .topNtop .mostPopular .mostPopular__list {
  display: flex;
  flex-direction: column;
}
.artistSection .topNtop .mostPopular .mostPopular__list li {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #303030;
}
.artistSection .topNtop .mostPopular .mostPopular__list li:hover {
  background-color: #303030;
}
.artistSection .topNtop .mostPopular .mostPopular__list li span {
  display: flex;
  align-items: center;
  flex-basis: 40px;
}
.artistSection .topNtop .mostPopular .mostPopular__list li :nth-child(3) {
  flex-basis: 100%;
}
.artistSection .topNtop .videos {
  width: 50%;
}
.artistSection .topNtop .videos iframe {
  width: 100%;
  height: 88%;
  border-radius: 4px;
  border: 2px solid #303030;
  transform: translateY(40px);
}
.artistSection .albumList {
  padding: 0 5%;
}
.artistSection .albumList h3 {
  padding: 5px 0 15px 0;
}
.artistSection .albumList .albumList__piece li {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #303030;
}
.artistSection .albumList .albumList__piece li:hover {
  background-color: #303030;
}
.artistSection .albumList .albumList__piece li span {
  align-self: center;
  flex-basis: 40px;
}
.artistSection .albumList .albumList__piece li :nth-child(3) {
  flex-basis: 100%;
}
.artistSection .albumList .albumList__piece .albumList__piece--header {
  display: flex;
}
.artistSection .albumList .albumList__piece .albumList__piece--header > * {
  align-self: center;
}
.artistSection .albumList .albumList__piece .albumList__piece--header img {
  width: 135px;
  height: 135px;
}
.artistSection .albumList .albumList__piece .albumList__piece--header .header__info {
  margin: 0 15px;
  font-size: 1.6rem;
}
.artistSection .albumList .albumList__piece .albumList__piece--header .header__info > * {
  margin: 5px 0;
}
.artistSection .albumList .albumList__piece .albumList__piece--header .header__info p {
  color: #8d8d8d;
  font-size: 0.9rem;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .topNtop {
    justify-content: center;
  }
  .topNtop .mostPopular {
    width: 80% !important;
  }
  .topNtop .videos {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
