.artistSection
  position: relative
  margin: 0

  background: $home-color

  .artistSection--overlay
    position: absolute

    width: 100%
    height: 400px

    background: linear-gradient(to top, $home-color 10%,rgba(0,0,0,.5) 70%)

  img
    width: 100%
    height: 400px
    
    object-fit: cover

  .artistSection__header
    position: relative

    margin-top: -200px
    padding: 0 5%

    h1
      font-size:  6rem
    
    .btn
      margin: 25px 0

      button
        margin: 0 4px

      button:nth-child(1)
        background: $primary-color
        border: 0
      button:nth-child(2)
        width: 140px
      button:nth-child(3)
        width: 32px
        padding: 5px

      
    .selectSubPage
      display: flex

      font-weight: 600
      text-transform: uppercase

      li      
        margin: 0 16px

        font-size: .9rem
        letter-spacing: 1.5px

        opacity: .7
      
        &:nth-child(1)
          opacity: 1
        &:hover
          opacity: 1
          
      .overview     
        position: relative
        top: 25px
        left: 25px
        width: 30px
        height: 2px

        background: $primary-color


  .topNtop
    display: flex    
    padding: 0 4%

    > *
      margin: 0 20px
        
    .mostPopular
      margin-top: 40px
      width: 50%

      .mostPopular__list
        display: flex
        flex-direction: column

        li
          display: flex
          flex-direction: row

          width: 100%
          height: 38px

          border-bottom: 1px solid $taskbar-color

          &:hover
            background-color: $taskbar-color

          span
            display: flex
            justify-content: center
            align-items: center
            flex-basis: 40px

          :nth-child(2)
            opacity: .4
            &:hover
              opacity: 1
            &:active
              opacity: .4
            
          :nth-child(3)
            flex-basis: 100%
            justify-content: left

            margin-left: 10px
          :nth-child(4)            
            font-size: .85rem

    .videos
      width: 50%

      iframe
        width: 100%
        height: 88%

        border-radius: 4px
        border: 2px solid $taskbar-color

        transform: translateY(40px)
  



  .albumList    
    padding: 0 5%

    h3
      padding: 5px 0 15px 0
    
    .albumList__piece

      li
        display: flex
        flex-direction: row

        width: 100%
        height: 38px

        border-bottom: 1px solid $taskbar-color

        &:hover
          background-color: $taskbar-color

        span
          align-self: center
          flex-basis: 40px
          
        :nth-child(3)
          flex-basis: 100%
        :nth-child(4)
          font-size: .85rem

      .albumList__piece--header
        display: flex

        > *
          align-self: center

        img
          width: 135px
          height: 135px
        
        .header__info
          margin: 0 15px
          font-size: 1.6rem

          > *
            margin: 5px 0

          p
            color: $extra-color

            font-size: .9rem
            font-weight: 600
        



@media (max-width: 1100px)
  .topNtop
    justify-content: center
    .mostPopular
      width: 80% !important

    .videos
      display: none